<% if logged_in? %>
<div class="ui three item menu">
  <a href="/users" class="item">Users</a>
  <a href="/products" class="item">Products</a>
  <%= link_to logout_path, method: :delete, :class=> "medium circular ui icon button primary" do %><i class="sign out icon"></i> <%= "Logout" %><% end %>
</div>
<% else %>
<div class="ui four item menu">
  <a href="/login" class="item">Login</a>
  <a href="/users/new" class="item">Register</a>
  <a href="/users" class="item">Users</a>
  <a href="/products" class="item">Products</a>
</div>
<% end %>
